<header class='top-page-header'>
  <div class='header-logo'>
    <%= link_to "SUSHI COMP!", "/", class:"sushi-comp-icon" %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '寿司ネタ一覧', "#", class: "category-list" %></li>
      <li><%= link_to 'サービス一覧', "#", class: "category-list" %></li>
      <li><%= link_to 'お知らせ一覧', "#", class: "category-list" %></li>
      <li><%= link_to 'ランキング', "#", class: "category-list" %></li>
      <li><%= link_to 'マップ', "#", class: "category-list" %></li>
    </ul>
    <ul class='lists-right'>
      <li><%= link_to 'ログイン', "#", class: "login" %></li>
      <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
    </ul>
  </div>
</header>