<header class='top-page-header'>
  <div class='header-logo'>
    <%= link_to "SUSHI COMP!", "/", class:"sushi-comp-icon" %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to '寿司ネタ一覧', foods_path, class: "category-list" %></li>
      <li><%= link_to 'サービス一覧', "#", class: "category-list" %></li>
      <li><%= link_to 'お知らせ一覧', "#", class: "category-list" %></li>
      <li><%= link_to 'ランキング', "#", class: "category-list" %></li>
      <li><%= link_to 'マップ', "#", class: "category-list" %></li>
    </ul>
    <ul class='lists-right'>
    <% if user_signed_in? %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    <% end %>
    </ul>
  </div>
</header>