
<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      ユーザー新規登録
    </h1>
  </div>
  <%= render "devise/shared/error_messages", model: f.object %>
  <div class="form-group">
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"ニックネーム(必須)", maxlength:"20", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯アドレスどちらでも可(必須)" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"パスワード(必須)" %>
  </div>
   <div class="form-group">
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"パスワード確認(必須)" %>
  </div>
  <div class='register-btn'>
    <%= f.submit "登録" ,class:"register-blue-btn" %>
  </div>
  <%= render "devise/shared/links" %>
</div>
<% end %>
